- @page_title = t('shoppe.return_forms.return_forms')
= content_for :header do
  %p.buttons= link_to t('shoppe.return_forms.back_to_return_forms_list'), :return_forms, class: 'button'
  %h2.users= t('shoppe.return_forms.return_forms')
= render 'form'
