- @page_title = t('shoppe.homepage_settings.homepage_settings')
= content_for :header do
  %p.buttons= link_to t('shoppe.homepage_settings.back_to_homepage_settings_list'), :homepage_settings, class: 'button'
  %h2.users= t('shoppe.homepage_settings.homepage_settings')
= render 'form'
