<!-- footer  -->

<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/footer-img.jpg">
   <footer  class="navbar  " >
            <div class="container">
               <div class="row botton-20">
                  <center>
                     <div class="footer-widget footer-widget-contacts">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                           <h4>SIGN UP FOR NEWSLETTER</h4>
                           <div class="">
                           <%= form_tag "/add_subscriber", :method => :post, :remote=>true, "data-parsley-validate" => true do %>
                           <button type="submit" title="Subscribe" class="btn btn-default btn-lg  button-grnt"><span><span>Subscribe</span></span></button>
                           <%= text_field_tag :email, params[:email], :class=>"inputnews", :title=>"SIGN UP FOR EMAILS:", :placeholder=>"   Enter Your Email", :required=>true, :autocomplete=> :off, :type=>"email" %>
                           <% end %>
                           </div>
                        </div>
                        <br>
                     </div>
                     <div class="col-md-6">
                        <div class="actions col-md-6">
                        </div>
                  </center>
                  </div>
                  <hr>
                  <div class="col-sm-3 col-xs-6  ">
                     <div class="footer-widget footer-widget-contacts">
                        <h4>SHOP</h4>
                        <ul class="list-unstyled" style="line-height: 29px;">
                           <li><a href="#"> Women's Shoes</a></li>
                           <li><a href="#"> Men's Shoes</a></li>
                           <li><a href="#"> Bags</a></li>
                           <li><a href="#"> Accessories</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>BRANDS</h4>
                        <ul class="list-unstyled">
                           <li><a href="#">Digger</a></li>
                           <li><a href="#">Skywalk</a></li>
                           <li><a href="#">Gig</a></li>
                           <li><a href="#">Matilla</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>ABOUT</h4>
                        <ul class="list-unstyled">
                           <li><a href="/about_us">The Company</a></li>
                           <li><a href="/store_location">Store Locator</a></li>
                           <li><a href="/contact_us">Contact</a></li>
                           <li><a href="/careers">Careers</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>GET IN TOUCH</h4>
                        <ul class="list-unstyled">
                           <li><a href="#"><i class="fa fa-phone"></i> +92 00078601</a></li>
                           <li><a href="#"><i class="fa fa-envelope"></i> hello@borjan.com</a></li>
                           <li><a href="#">FAQ</a></li>
                           <div style=" ">
                              <div style=" text-transform: uppercase;
                                 font-weight: bold;
                                 padding-bottom: 8px;;"> <span style=" font-size:20px;"> <i class="fa fa-facebook-square"></i>   <i class="fa fa-twitter"></i>   <i class="fa fa-pinterest-square"></i> <i class="fa fa-google-plus-square"></i> <i class="fa fa-envelope-o"></i>
                                 </span>
                              </div>
                           </div>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="footer-bottom">
                  <div class="container">
                     <hr>
                     <div class="row">
                        <center>
                           <p class="copyright">© Borjan 2016 All right reserved.</p>
                        </center>
                     </div>
                  </div>
               </div>
            </div>
         </footer>

</div>

<%= render "popup_partials/subscribtion_popup"  %>

