<!-- footer  -->
<div class="parallax_footer" >
   <footer  class="navbar  " >
            <div class="container">
               <div class="row botton-20">
                  <center>
                     <div class="footer-widget footer-widget-contacts">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                           <h4>SIGN UP FOR NEWSLETTER</h4>
                           <div class="">
                           <%= form_tag "/add_subscriber", :method => :post, :remote=>true, "data-parsley-validate" => true, :id=>"add_subscriber" do %>
                           <button type="submit" title="Subscribe" class="btn btn-default btn-lg  button-grnt"><span><span>Subscribe</span></span></button>
                           <%= text_field_tag :email, params[:email], :class=>"inputnews", :title=>"SIGN UP FOR EMAILS:", :placeholder=>"   Enter Your Email", :required=>true, :autocomplete=> :off, :type=>"email" %>
                           <% end %>
                           </div>
                        </div>
                        <br>
                     </div>
                     <div class="col-md-6">
                        <div class="actions col-md-6">
                        </div>
                  </center>
                  </div>
                  <hr>
                  <div class="col-sm-3 col-xs-6  ">
                     <div class="footer-widget footer-widget-contacts">
                        <h4>EXCHANGE & RETURN</h4>
                        <ul class="list-unstyled" style="line-height: 29px;">
                           <li><a href="/exchange"> EXCHANGE POLICY </a></li>
                           <li><a href="/privacy"> PRIVACY POLICY </a></li>
                           <li><a href="/terms"> TERMS AND CONDITIONS </a></li>
                           <li><a href="/return_forms/new"> Return Merchandise Form </a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>BRANDS</h4>
                        <ul class="list-unstyled">
                        <% @footer_brands.try(:each) do |brand| %>
                           <li><a href="<%= brand_path(brand.permalink)%>"> <%= brand.name.capitalize %></a></li>
                        <% end %>
                         <!--   <li><a href="#">Skywalk</a></li>
                           <li><a href="#">Gig</a></li>
                           <li><a href="#">Matilla</a></li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>ABOUT</h4>
                        <ul class="list-unstyled">
                           <li><a href="/about_us">The Company</a></li>
                           <li><a href="/store_location">Store Locator</a></li>
                           <li><a href="/contact_us">Contact</a></li>
                           <li><a href="/careers">Careers</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>GET IN TOUCH</h4>
                        <ul class="list-unstyled">
                           <li><a href="tel:+9242111000174"><i class="fa fa-phone"></i> +92 42 111 000 174</a></li>
                           <li><a href="mailto:customercare@borjan.com.pk" style="text-transform:none !important;"><i class="fa fa-envelope"></i>customercare@borjan.com.pk</a></li>
                           <li><a href="/faq">FAQ</a></li>
                           <div style=" ">
                              <div style=" text-transform: uppercase;
                                 font-weight: bold;
                                 padding-bottom: 8px;"> 
                                 <span style=" font-size:20px;"> 
                                 <a href="https://www.facebook.com/BorjanShoes/
" target="-blank" class="socicallink" title="Borjan Shoes" >
<i class="fa fa-facebook-square " title="Borjan Shoes"></i>  </a> 

<a href="#"  class="socicallink" ><i class="fa fa-twitter"></i> </a>  
<a href="#"  class="socicallink"> <i class="fa fa-pinterest-square"></i></a> 
<a href="#" class="socicallink" ><i class="fa fa-google-plus-square"></i> </a>
<a href="#"  class="socicallink" ><i class="fa fa-envelope-o"></i></a>
                                 </span>
                              </div>
                           </div>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="footer-bottom">
                  <div class="container">
                     <hr>
                     <div class="row">
                        <center>
                           <p class="copyright">© Borjan 2016 All right reserved.</p>
                        </center>
                     </div>
                  </div>
               </div>
            </div>
         </footer>

</div>

