<div style="        background: rgb(238, 237, 239);
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;">
   <div class="container" style="padding: 0px;">
      <section class="content categories">
         <center>
            <h2><span style=" color:#333;">Featured </span>Collection</h2>
            <p>
               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            </p>
         </center>
         <br>
         <div class="row row-no-padding">
         <% @featured_categories.each.with_index do |fc, index| %>
            <!-- CATEGORY - START -->
               <div class="<%= get_featured_category_class(index) %>" >
               <div class="category item-pro">
                  <a href="<%= products_path(category_permalink: fc.permalink) %>" class="">
                     <img src="<%= get_homepage_image(fc) %>" class="img-responsive "  alt="">
                     <div class="item-overlay top"></div>
                     <div class="category-mask"></div>
                     <h3 class="category-title"><%= get_homepage_title(fc.homepage_title) if fc.homepage_title.present? %></h3>
                  </a>
               </div>
            </div>
            <!-- CATEGORY - END -->
            <% if index == 1 %>
               <div style=" margin-bottom: 18px;clear: both;"></div>
            <% end %>
         <% end %>
         </div>
      </section>
   </div>
</div>
<!-- ==========================
   CATEGORIES - END 
   =========================== -->