<!-- footer  -->

<div class="parallax-window" data-parallax="scroll" data-image-src="/assets/footer-img.jpg">
   <footer  class="navbar  " >
            <div class="container">
               <div class="row botton-20">
                  <center>
                     <div class="footer-widget footer-widget-contacts">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                           <h4>SIGN UP FOR NEWSLETTER</h4>
                           <div class="">
                           <button type="submit" title="Subscribe" class="btn btn-default btn-lg  button-grnt"><span><span>Subscribe</span></span></button>
                           <input  title="SIGN UP FOR EMAILS:" class="inputnews ">
                           </div>
                        </div>
                        <br>
                     </div>
                     <div class="col-md-6">
                        <div class="actions col-md-6">
                        </div>
                  </center>
                  </div>
                  <hr>
                  <div class="col-sm-3 col-xs-6  ">
                     <div class="footer-widget footer-widget-contacts">
                        <h4>SHOP</h4>
                        <ul class="list-unstyled" style="line-height: 29px;">
                           <li><a href="#"> Women's Shoes</a></li>
                           <li><a href="#"> Men's Shoes</a></li>
                           <li><a href="#"> Bags</a></li>
                           <li><a href="#"> Accessories</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>BRANDS</h4>
                        <ul class="list-unstyled">
                           <li><a href="#">Digger</a></li>
                           <li><a href="#">Skywalk</a></li>
                           <li><a href="#">Gig</a></li>
                           <li><a href="#">Matilla</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>ABOUT</h4>
                        <ul class="list-unstyled">
                           <li><a href="about.html">The Company</a></li>
                           <li><a href="stor-location.html">Store Locator</a></li>
                           <li><a href="contact.html">Contact</a></li>
                           <li><a href="careers.html">Careers</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-3 col-xs-6 border-left">
                     <div class="footer-widget footer-widget-links">
                        <h4>GET IN TOUCH</h4>
                        <ul class="list-unstyled">
                           <li><a href="#"><i class="fa fa-phone"></i> +92 00078601</a></li>
                           <li><a href="#"><i class="fa fa-envelope"></i> hello@borjan.com</a></li>
                           <li><a href="#">FAQ</a></li>
                           <div style=" ">
                              <div style=" text-transform: uppercase;
                                 font-weight: bold;
                                 padding-bottom: 8px;;"> <span style=" font-size:20px;"> <i class="fa fa-facebook-square"></i>   <i class="fa fa-twitter"></i>   <i class="fa fa-pinterest-square"></i> <i class="fa fa-google-plus-square"></i> <i class="fa fa-envelope-o"></i>
                                 </span>
                              </div>
                           </div>
                        </ul>
                     </div>
                  </div>
               </div>

               <div class="footer-bottom">
                  <div class="container">
                     <hr>
                     <div class="row">
                        <center>
                           <p class="copyright">© Borjan 2016 All right reserved.</p>
                        </center>
                     </div>
                  </div>
               </div>
            </div>
         </footer>

</div>


<!-- footer end -->
<style type="text/css">
   .modal {
   z-index: 999999 !important;
   }
</style>
<div class="modal modal-fullscreen fade "  tabindex="1" role="dialog" id="modalAdvertising" style="  ">
   <div class="modal-dialog" style="    margin-top: 10%;">
      <div class="modal-content">
         <div class="modal-header">
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-sm-12">
                  <center>
                     <h3>Stay Updated!</h3>
                     <p>Enter your email address and get 10% discount for your first purchase.</p>
                     <br>
                  </center>
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                     <form>
                        <div class="input-group" style="    width: 100%;
                           margin-bottom: 5px;">
                           <input type="email" class="form-control" placeholder="Email Address" style="background: transparent;
                              border: solid 1px;">
                        </div>
                        <br>
                        <div class="input-group" style="    width: 100%;
                           margin-bottom: 5px;">
                           <input type="tel" class="form-control" placeholder="Number" style="background: transparent;
                              border: solid 1px;">
                        </div>
                        <br>
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" style="float: right;
                           background: transparent;
                           border: solid 1px;">Submit</button>
                        </span>
                     </form>
                     <div class="checkbox">  
                        <input id="modal-hide" type="checkbox" value="hidden">  
                        <label for="modal-hide">Don't show this popup again</label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div style="clear:both"></div>
      <center>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">Start</button>
      </center>
   </div>
</div>