<header class="navbar navbar-transparent navbar-fixed-top hidden-sm  hidden-xs" >
   <div class="container">
      <div class="col-md-2">
         <div class="navbar-header">
            <a href="/" class="navbar-brand" data-no-turbolink =true>
            <img src="/assets/logo.png" alt="borjan">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
         </div>
      </div>
      <div class="col-md-8" style="    padding: 0px;     padding-left: 5%;">
         <div class="navbar-collapse collapse" style="    padding: 0px;">
            <ul class="nav navbar-nav" >
               <li class="dropdown megamenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Footwear</a>
                  <div class="dropdown-menu"   style=" width: 405px;  ">
                     <ul style="padding: 4px;" >
                        <li class="col-sm-4 col-md-6" style=" list-style-type: none;">
                           <a href="men.html" >
                              <img src="/assets/menu-men.jpg" class="img-responsive center-block more-img" alt="" >
                              <div class="more menucall"> Men </div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-6" style=" list-style-type: none;">
                           <a href="women.html">
                              <img src="/assets/menu-women.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall"> Women </div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="dropdown megamenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Essentials</a>
                  <div class="dropdown-menu"   style="  width: 606px;     margin: auto;
                     margin-top: 9px; ">
                     <ul style="padding: 4px;" >
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;    ">
                           <a href="belts.html">
                              <img src="/assets/menu-belts.jpg" class="img-responsive center-block more-img" alt="" >
                              <div class="more menucall" > Belts  </div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="cufflinks.html">
                              <img src="/assets/menu-cufflinks.jpg" class="img-responsive center-block  more-img" alt="" />
                              <div class="more menucall"> Cufflinks</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="#">
                              <img src="/assets/menu-more1.jpg" class="img-responsive center-block  more-img" alt="" />
                              <div class="more menucall">More</div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="dropdown megamenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Bags</a>
                  <div class="dropdown-menu"   style="  width: 606px;     margin: auto;
                     margin-top: 9px; ">
                     <ul style="padding: 4px;" >
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none; ">
                           <a href="#">
                              <img src="/assets/menu-sholder.jpg" class="img-responsive center-block  more-img" alt="" >
                              <div class="more menucall"> Shoulder </div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="#">
                              <img src="/assets/menu-cluch.jpg" class="img-responsive center-block  more-img" alt="" />
                              <div  class="more menucall"> Clutch</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none; ">
                           <a href="#">
                              <img src="/assets/menu-more2.jpg" class="img-responsive center-block  more-img" alt="" />
                              <div  class="more menucall">More</div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="dropdown megamenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Jewelry</a>
                  <div class="dropdown-menu"   style=" width: 606px;     margin: auto;
                     margin-top: 9px; ">
                     <ul style="padding: 4px;" >
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="#">
                              <img src="/assets/menu-earrings.jpg" class="img-responsive center-block  more-img" alt="" />
                              <div class="more menucall"> Earrings</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="#">
                              <img src="/assets/menu-bracelets.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall"> Bracelets</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="#">
                              <img src="/assets/menu-more3.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall">More</div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <li class="dropdown megamenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Features</a>
                  <div class="dropdown-menu"   style="  width: 606px;     margin: auto;
                     margin-top: 9px;">
                     <ul style="padding: 4px;" >
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none; ">
                           <a href="blog.html">
                              <img src="/assets/menu-blog.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall"> Blog</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="video.html">
                              <img src="/assets/menu-video.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall"> Videos</div>
                           </a>
                        </li>
                        <li class="col-sm-4 col-md-4" style=" list-style-type: none;   ">
                           <a href="stor-location.html">
                              <img src="/assets/menu-location.jpg" class="img-responsive center-block more-img" alt="" />
                              <div class="more menucall"> locations</div>
                           </a>
                        </li>
                     </ul>
                  </div>
               </li>
               <!-- CART ITEM - END -->
            </ul>
            </li>
            </ul>
         </div>
      </div>
      <div class="col-md-2"  style="padding: 0;">
         <ul class="nav navbar-nav navbar-right">
            <li class="dropdown navbar-search hidden-xs" style="    margin-top: 7px;">
               <a href="/" data-no-turbolink=true >
               <img src="/assets/home-icon.png" class="img-responsive" alt="" ></a>
            </li>
            <li class="dropdown navbar-search hidden-xs" style="    margin-top: 7px;">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/search.png" class="img-responsive" alt=""></a>
               <ul class="dropdown-menu" style="     height: 48px;
                  padding: 8px;
                  width: 201px;
                  right: 0px;
                  left: -67px;
                  margin-top: 14px;">
                  <li>
                     <form>
                        <div class="">
                           <input type="text" class="form-control" placeholder="Search ..." style="    font-size: 14px;
                              width: 100%;
                              float: left;">
                        </div>
                     </form>
                  </li>
               </ul>
            </li>
            <li class="dropdown navbar-search hidden-xs" style="    margin-top: 7px;">
               <span class="label label-danger pull-right"><%= pluralize current_order.total_items, ''%></span>
               <a href="<%= basket_path %>"><img src="/assets/bag_icon.png" class="img-responsive" alt=""></a>
            </li>
            <li class="dropdown hidden-xs" style="    margin-top: 7px;">
               <a href=""  class="dropdown-toggle" type="button" data-toggle="dropdown">
               <img src="/assets/user.png" class="img-responsive" alt=""></a>
               <ul class="dropdown-menu">
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">Log out</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</header>
<!-- phone menu -->
<div class="navbar navbar-default navbar-fixed-top  hidden-md hidden-lg" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <img class="phone-mob" src="/assets/logo.png" alt="borjan">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">  
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
         <ul class="nav navbar-nav">
            <li class="menu-item dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Footwear<b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="men.html" class="dropdown-toggle" data-toggle="dropdown">Men </a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="women.html" class="dropdown-toggle" data-toggle="dropdown">Women</a>
                  </li>
               </ul>
            </li>
            <li class="menu-item dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Essentials<b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Belts  </a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cufflinks</a>
                  </li>
               </ul>
            </li>
            <li class="menu-item dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bags<b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Shoulder  </a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Clutch</a>
                  </li>
               </ul>
            </li>
            <li class="menu-item dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jewelry<b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Earrings  </a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Bracelets</a>
                  </li>
               </ul>
            </li>
            <li class="menu-item dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="blog.html" class="dropdown-toggle" data-toggle="dropdown">    Blog </a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="video.html" class="dropdown-toggle" data-toggle="dropdown">    Videos</a>
                  </li>
                  <li class="menu-item dropdown dropdown-submenu">
                     <a href="stor-location.html" class="dropdown-toggle" data-toggle="dropdown">    locations</a>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</div>
<div class="clear:both;"></div>
<!-- End Phone Menu  -->
<!-- ==========================
   HEADER - END 
   =========================== -->  