<div class="container">
   <div class="row">
      <center>
         <br>
         <h2><span style=" color:#333;">Hot  </span>Selling</h2>
         <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
         </p>
         <br>
      </center>
      <div id="container" class="cf">
         <div id="main" role="main">
            <section class="slider">
               <div class="flexslider carousel">
                  <ul class="slides">
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/1.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/2.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/3.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/4.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/5.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                     <li>
                        <div>
                           <article class="product-item" style="border: solid 1px #fff;">
                              <img src="assets/products/women/6.png" class="img-responsive" alt="">
                              <h3><a href="single-product.html">TAMARA</a></h3>
                              <span class="price">
                                 <!-- <del><span class="amount">Rs 36.00</span></del> -->
                                 <ins><span class="amount">Rs 30.00</span></ins>
                              </span>
                              <br> <br>
                           </article>
                        </div>
                     </li>
                  </ul>
               </div>
            </section>
         </div>
      </div>
      <center>
         <a style="letter-spacing: 8px;" href="men.html" class="btn btn-default btn-lg">Shop Now</a>
      </center>
      <div classs="clear-both"></div>
   </div>
</div>