  <div id="flexslider">
    <div class="">
      <ul class="slides">
        <%@homepage_settings.each do |homepage_setting|%>
           <% if homepage_setting.image.present? %>
              <li>
                <div class="container mini-banner"> 
                  <a style="letter-spacing: 8px; " href="<%= products_path(category_permalink: homepage_setting.category_permalink) %>" class="btn btn-default btn-lg ">Shop Now</a>
                </div>
                <img src="<%=homepage_setting.image.path%>" style=" width:100%;" class="img-responsive center-block"/>
              </li>
           <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <script type="text/javascript">
      $(document).ready(function() {
      $('#flexslider').flexslider({
        animation: "slide"
      });
    });
  </script>
