<!-- ==========================
   JUMBOTRON - START 
   =========================== -->
   <section class="content jumbotron jumbotron-full-height">
      <div id="homepage-2-carousel" class="nav-inside">

         <div class="item slide-2" style="     background-image: url(/assets/slide-5.jpg);">
            <div class="slide-mask"></div>
            <div class="slide-body">
               <div class="container">
               <h1 > <img class="img-responsive" src="/assets/walk-the-fashion.png" style=" width: 300px; "></h1>
                  <div>
                    <br>
                  </div>
                  <a style="letter-spacing: 8px; " href="#" class="btn btn-default btn-lg ">Shop Now</a>
               </div>
            </div>
         </div>

         <div class="item slide-2" style="     background-image: url(/assets/slide-3.png);">
            <div class="slide-mask"></div>
            <div class="slide-body">
               <div class="container">
               <h1 > <img class="img-responsive" src="/assets/walk-the-fashion.png" style=" width: 300px; "></h1>
                  <div>
                    <br>
                  </div>
                  <a style="letter-spacing: 8px; " href="#" class="btn btn-default btn-lg ">Shop Now</a>
               </div>
            </div>
         </div>


         <div class="item slide-2" style="background-image: url(/assets/slide-4.jpg);">
            <div class="slide-mask"></div>
            <div class="slide-body">
               <div class="container">
               <h1 > <img class="img-responsive" src="/assets/walk-the-fashion.png" style=" width: 300px; "></h1>
                  <div>
                    <br>
                  </div>
                  <a style="letter-spacing: 8px; " href="#" class="btn btn-default btn-lg ">Shop Now</a>
               </div>
            </div>
         </div>

         <div class="item slide-2" style="    background-image: url(/assets/slide-2.png);">
            <div class="slide-mask"></div>
            <div class="slide-body">
               <div class="container">
               <h1 > <img class="img-responsive" src="/assets/walk-the-fashion.png" style=" width: 300px; "></h1>
                  <div>
                    <br>
                  </div>
                  <a style="letter-spacing: 8px; " href="#" class="btn btn-default btn-lg ">Shop Now</a>
               </div>
            </div>
         </div>








          
      </div>
   </section>