<br><br><br>
<section class="content products ">
   <div class="container about-page ">
      <div class="col-md-2"></div>
   <div class="col-md-8 col-sm-12 col-xs-12">
      <article class="product-item product-single" style="padding: 15px;" >
         <div class="row">
            <br>
            
               <h1  class="page-header text-center">Borjan History</h1>
              <div class="text-center">
               <p>Shoes create an impression long enough to keep the onlookers starring at you. An extra-ordinary fashion can add to this impression that’s what Borjan is working for. Borjan Pakistan has been serving the footwear industry for almost 18 years now. Indulgence of fashion has made the brand stand out among others. Essence of style and elegance of up-datedness - blend of this fashion aroma is adding to the casual and formal appearances of those who choose Borjan. Our products are for the people of great stature and for those who want to step up and above beyond others. These fashionably charged and elegantly designed shoes are everybody’s must pick items these days. Keeping in mind the ever increasing demand, Borjan is operating 88 outlets in 56 cities of Pakistan.</p>
<p>Borjan is dedicatedly adding to the fashion sense nationwide and bringing in international trends and fashions to keep our clientele fashionable with an international style pace. </p>
            </div>
         </div>
         <hr>
      </article>
   
   <div >
      <!-- Introduction Row -->
      <div class="row">
         <div class="col-lg-12">
            <h2 class="page-header text-center">Future Vision</h2>
            <div class="text-center">
            <p>Borjan aims to achieve recognition in the shoe retailers industry in Pakistan and its neighborhood countries to make their customers smart and feel comfortable. The assurance and availability of high quality Borjan shoes and other products would help in making the brand an absolute preference and choice of the people.</p>
            </div>
            
         </div>
      </div>
      <br>
      <!-- Team Members Row -->
      
  


      <!-- Introduction Row -->
      <div class="row">
         <div class="col-lg-12">
         <hr>
         <br>
            <h2 class="page-header text-center">Corporate Social Responsibility
</h2>
            <div class="text-center">
            <p>Apart from shaping the latest fashion sense nationwide, Borjan never lags behind in taking any social initiatives for the welfare of marginalized communities. Borjan is serving the communities where socio-economic conditions are worse, under the umbrella of Haral Bunyad which aims to uplift the plight of financially and socially disturbed rural societies.</p>
            </div>
            
         </div>
      </div>
      <br>
      <!-- Team Members Row -->
      
   </div>
   </div
</div>

</section>
<div style="clear:both:"></div>