<br><br><br>
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <div class="row">
            <br>
            <center>
               <h1>BLOG</h1>
            </center>
         </div>
         <hr>
      </article>
   </div>
   <div class="container">
   <div class="container">
      <div class="row">
         <!-- Blog Post Content Column -->
         <div class="col-md-1 col-sm-12 " style="margin-left: 20px;"></div>
         <div class="col-md-9 col-sm-12 ">
            <!-- Blog Post -->
            <!-- Title --> 
            <center>
               <img class="img-responsive" src="assets/bloge-post.jpg" alt="">
            </center>
            <br>
            <h3 class="pull-left">Join The Fashion Walk</h3>
            <!-- Date/Time -->
            <p class="pull-right"> APRIL 13TH, 2016</p>
            <br>
            <div>
               <br>
               <div class="blog-detail">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                  <br>
                  <a href="#" class="btn btn-default btn-lg pull-right">Read More</a>
               </div>
               <hr>
            </div>
            <div style="clear:both:"></div>
            <br><br>
            <div class="col-md-6" style="padding-left: 0;">
               <center><img class="img-responsive" src="assets/bloge-post1.jpg" alt=""></center>
               <br>
               <h3 >Join The Fashion Walk</h3>
               <p> APRIL 13TH, 2016</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis</p>
               <br>
               <a href="#" class="btn btn-default btn-lg pull-right ">Read More</a>
            </div>
            <div class="col-md-6" style="padding-right: 0;">
               <center><img class="img-responsive" src="assets/bloge-post2.png" alt=""></center>
               <br>
               <h3 >Join The Fashion Walk</h3>
               <p> APRIL 13TH, 2016</p>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis </p>
               <br>
               <a href="#" class="btn btn-default btn-lg  pull-right ">Read More</a>
            </div>
         </div>
         <!-- /.row -->
      </div>
</section>
<div style="clear:both:"></div>
<br><br>