<br><br><br>
<section class="content products">
   <div class="container">
<br />

  <h1><%= @brand.name %></h1>
  <%if @brand.attachments.present? and @brand.attachments.first %>
  <img class="img-responsive" src="<%=@brand.attachments.first.path %>" />
   <%end%>
  <p><%= @brand.description.html_safe %> <p>

</div>
  </section>
<div style="clear:both:"></div>
<br><br>