<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>CONTACT US</h1>
          <p>Leave us a Message</p>
        </center>
      </div>
      <hr>
    </article>
  </div>
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="signin-half ">
        <span class="checkout-bulit">First Name:</span><!--
          --><input type="type" value="" class="input-checkout">
        <span class="checkout-bulit">Last Name:</span><!--
          --><input type="type" value="" class="input-checkout">
        <span class="checkout-bulit">Email</span><!--
          --><input type="type" value="" class="input-checkout">
        <span class="checkout-bulit">Address </span><!--
          --><input type="type" value="" class="input-checkout">
        <span class="checkout-bulit">Comment </span><!--
          --><br>
        <textarea style="    width: 100%;     height: 120px;"></textarea>
        <div style="clear:both"></div>
        <br>
        <center>
          <a href="index.html" class="btn btn-default btn-lg">Send</a>
        </center>
        <br><br>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <h2>Lahore</h2>
      <strong> Address:</strong>
      <br> 333 Main Boulevard، Johar Town، Lahore 54770 <br>
      <strong> Phone:</strong><br>
      (042) 111 000 174 
    </div>
    <div class="col-md-4">
      <h2>Karachi</h2>
      <strong> Address:</strong>
      <br> 124-D BLOCK-II P.E.C.H SOCIETY TARIQ ROAD  <br>
      <strong> Phone:</strong><br>
      (042) 021-34553168 
    </div>
    <div class="col-md-4">
      <h2>Islamabad</h2>
      <strong> Address:</strong>
      <br> F-2, SCHOOL ROAD, SUPER MARKET <br>
      <strong> Phone:</strong><br>
      (042) 051-2601755
    </div>
  </div>
</section>
<div style="clear:both:"></div>
<br><br>