  <br><br><br>
  <section class="content products">
    <div class="container">
      <article class="product-item product-single">
        <div class="row">
          <br>
          <center>
            <h1> EXCHANGE &amp; RETURN POLICY </h1>
          </center>
        </div>
        <hr>
      </article>
    </div>
    <div class="container">
      <div class="col-md-12">
<ul>
<li>Products purchased from the Website can be exchanged at the nearest Company&rsquo;s outlets within 7 days from the delivery date by producing the original receipt, provided the products are unused, unworn and undamaged.</li>
<li>At the time of Exchange, the Company will only offer a replacement against products which are available in the outlets.</li>
<li>Please send your inquiries at: customercare@borjan.com.pk or contact us at +92 42 3 5241207-8. Our Customer Care Department will review and respond to your queries as quickly as possible.</li>
<li>The Company&rsquo;s outlet will recover the difference in cash against sale if the value of the replaced product exceeds the original value.</li>
<li>The decision of the Company will be considered final in all scenarios.</li>
</ul>
  
        </div>
    </div>
    <div class="col-md-2"></div>
    </section>
<div style="clear:both:"></div>
<br><br>