  <br><br><br>
  <section class="content products">
    <div class="container">
      <article class="product-item product-single">
        <div class="row">
          <br>
          <center>
            <h1> FAQ </h1>
          </center>
        </div>
        <hr>
      </article>
    </div>
    <div class="container">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="job-post" >
            <h4>Q1. How do I select items to purchase?</h4>
            <p>
              A. As you browse through the Borjan Website, click on the "add to shopping cart" button beneath the items that you wish to purchase.
            </p>

            <h4>Q2. How do I place an order on Borjan Website?</h4>
            <p>A. Once your desired item is added to the shopping cart just click on the shopping cart icon on the top right corner and select continue to checkout, you can either checkout as a Guest or you can sign up to get latest updates. Afterwards you just need to provide personal details and select the order now button to place your order.</p>

            <h4>Q3. How safe is my personal information?</h4>
            <p>A. Our site uses a Secure Sockets Layer (SSL) protocol to encrypt all personal information sent during the checkout process. For more information on how we secure and use your information, please consult our Privacy Policy.</p>

            <h4>Q4. What are your payment options?</h4>
            <p>A.  Borjan offers its customers a variety of payment methods. You can purchase through <strong>Master Card, Visa Card, Credit Card, Debit Card and COD</strong> (cash on delivery) service. </p>

            <h4>Q5. How is my order shipped?</h4>
            <p>A. Orders are shipped Monday through Friday (business days), excluding public holidays and weekends. Any orders placed on Saturday or Sunday will be shipped the following week.</p>

            <h4>Q6. How can I track my delivery?</h4>
            <p>A. Once you have placed your order, we will email you a Customer invoice Number or Order tracking number. With the help of this number you can track your order easily. All you have to do is open Borjan website and enter this number by selecting the truck icon on the top right side of the website.</p>

            <h4>Q7. How long does it take for my order to reach me?</h4>
            <p>A. Orders are dispatched once our Customer Care Officer has verified all of your details. Once the verification process is done your order will be immediately shipped and will reach you within 4-5 working days depending on the delivery address. Delivery delays due to service interruptions or inclement weather conditions are not the responsibility of Borjan or the carrier.</p>

            <h4>Q8. How do I know if an item is in stock?</h4>
            <p>A. All items are in stock unless <strong>"Out of stock"</strong> is indicated.  On receipt of your order if any items are unavailable, we will inform you by email and we will offer you a refund or alternative availability date where possible.</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
</section>
<div style="clear:both:"></div>
<br><br>