<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>STORE LOCATOR</h1>
        </center>
      </div>
      <hr>
    </article>
  </div>
  <div class="container">
    <iframe src="https://www.google.com/maps/embed/v1/place?q=Pakistan&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" frameborder="0" style="border:0; width:100%; height: 500px;" allowfullscreen""></iframe>
    <br><br><br>
    <div class="col-md-4">
      <h2>Lahore</h2>
      <strong> Address:</strong>
      <br> 333 Main Boulevard، Johar Town، Lahore 54770 <br>
      <strong> Phone:</strong><br>
      (042) 111 000 174 
    </div>
    <div class="col-md-4">
      <h2>Karachi</h2>
      <strong> Address:</strong>
      <br> 124-D BLOCK-II P.E.C.H SOCIETY TARIQ ROAD  <br>
      <strong> Phone:</strong><br>
      (042) 021-34553168 
    </div>
    <div class="col-md-4">
      <h2>Islamabad</h2>
      <strong> Address:</strong>
      <br> F-2, SCHOOL ROAD, SUPER MARKET <br>
      <strong> Phone:</strong><br>
      (042) 051-2601755
    </div>
  </div>
</section>
<div style="clear:both:"></div>
<br><br>