<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>STORE LOCATOR</h1>
        </center>
      </div>
      <hr>
    </article>
  </div>
  <div class="container">
    <div id="googleMap" style="width:100%;height:500px;">
    </div>
    <br><br><br>
    <div class="col-md-4">
      <h2>Lahore</h2>
      <strong> Address:</strong>
      <br> 333 Main Boulevard، Johar Town، Lahore 54770 <br>
      <strong> Phone:</strong><br>
      (042) 111 000 174 
    </div>
  </div>
</section>
<div style="clear:both:"></div>
<br><br>
<script>

  var map;
  var marker;
  var infowindow;
  myCenter = new google.maps.LatLng("31.4602775", "74.2753979");

  function initialize(){
  var mapProp = {
    center:myCenter,
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    // placeMarker(myCenter, "");
  }

  google.maps.event.addDomListener(window, 'load', initialize);


  $(document).ready(function() {
    getLocation();
  });

</script>