<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js" ></script>
<br><br><br>
<section class="content products">
  <div class="container">
    <article class="product-item product-single" style="     padding: 20px;">
      <div class="row">
        <br>
        <center>
          <h1>STORE LOCATOR</h1>
        </center>
      </div>
      <hr>
    </article>
  </div>
  <div class="container">
    <div id="googleMap" style="width:100%;height:500px;">
    </div>
    <br><br><br>
    <div class="text-center">
      <h2>Lahore</h2>
      <!-- <p><button onclick="getLocation();">Show my location</button></p> -->
      
      <br> 333-R Main Boulevard، Johar Town، Lahore 54770 <br>      
      042-35291667 <br>
       customercare@borjan.com.pk
    </div>
  </div>
</section>
<div style="clear:both:"></div>
<br><br>
<script>

  // var map;
  // var marker;
  // var infowindow;
  // myCenter = new google.maps.LatLng("31.4602775", "74.2753979");

  // function initialize(){
  // var mapProp = {
  //   center:myCenter,
  //   zoom:15,
  //   mapTypeId:google.maps.MapTypeId.ROADMAP
  //   };

  //   map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
  //   // placeMarker(myCenter, "");
  //   google.maps.event.addListenerOnce(map, 'idle', function(){
  //       // console.log('Google map is fully loaded in Gmap V3')
  //       // getLocation();
  //   });
  // }

  // google.maps.event.addDomListener(window, 'load', initialize);


</script>


<p><button onclick="geoFindMe()">Show my location</button></p>
<div id="out"></div>

<script type="text/javascript">
  function geoFindMe() {
    var output = document.getElementById("out");

    if (!navigator.geolocation){
      output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
      return;
    }

    function success(position) {
      var latitude  = position.coords.latitude;
      var longitude = position.coords.longitude;

      output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';

      var img = new Image();
      img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + latitude + "," + longitude + "&zoom=13&size=300x300&sensor=false";

      output.appendChild(img);
    };

    function error() {
      output.innerHTML = "Unable to retrieve your location";
    };

    output.innerHTML = "<p>Locating…</p>";

    navigator.geolocation.getCurrentPosition(success, error);
  }
</script>