  <br><br><br>
  <section class="content products">
    <div class="container">
      <article class="product-item product-single">
        <div class="row">
          <br>
          <center>
            <h1> TERMS & CONDITIONS </h1>
          </center>
        </div>
        <hr>
      </article>
    </div>
    <div class="container">
      <div class="col-md-12">
<ul>
<li>All goods to be delivered are subject to stock availability and authorization of your payment. The goods purchased will be delivered within 5-7 working days after we receive your order.</li>
<li>Payment can be made by using any of the options listed on the Website.</li>
<li>All intellectual property rights, whether registered or unregistered in the Site, information content on the Website, and all the Website design including, but not limited to text, graphics, photos, music, videos and their selection and arrangement, and all software compilations, underlying source code and software shall remain our property. All such rights are reserved.</li>
<li>We use your contact and other information provided by you to fulfill your order and to communicate with you about your order as well other present and as future offers that we may have for you.</li>
<li>These Terms and Conditions may be amended from time to time. Amendments to these Terms and Conditions will be posted on-line. Use of the Site will be deemed to constitute acceptance of the amended Terms and Conditions.</li>
</ul>  
        </div>
    </div>
    <div class="col-md-2"></div>
    </section>
<div style="clear:both:"></div>
<br><br>