<br><br><br>
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <div class="row">
            <br>
            <center>
               <h1>Videos</h1>
            </center>
         </div>
         <hr>
      </article>
   </div>
   <div class="container">
      <div class="col-md-12">

<div class="col-md-12">
            <div class="videos text-center">
              <iframe width="94%" height="500" src="https://www.youtube.com/embed/SI9Dltyp0lQ?rel=0" frameborder="0" allowfullscreen></iframe>
               
            </div>
         </div>
<div  style="clear: both;"></div>
<br><br>
         <div class="col-md-4">
            <div class="videos">
               <iframe width="300" height="300" src="https://www.youtube.com/embed/9qBbVYbxlTw?rel=0" frameborder="0" allowfullscreen></iframe>
               <h3>Eid Collection</h3>
            </div>
         </div>
         <div class="col-md-4">
            <div class="videos">
               <iframe width="300" height="300" src="https://www.youtube.com/embed/9rfDq5Y51Z0?rel=0" frameborder="0" allowfullscreen></iframe>
               <h3>Summer TVC</h3>
            </div>
         </div>
         <div class="col-md-4">
            <div class="videos">
               <iframe width="300" height="300" src="https://www.youtube.com/embed/IA22MbeIGYI?rel=0" frameborder="0" allowfullscreen></iframe>
               <h3>Collection For Women</h3>
            </div>
         </div>
      </div>
</section>
<div style="clear:both:"></div>
<br><br>