<br><br><br>
<section class="content products">
   <div class="container">
Processing......
<div style="display: none;">
<form action="https://demo-ipg.comtrust.ae/Payment/PaymentPortal.aspx?lang=en&layout=C0NBESDF" method="post">
    <input type='Hidden' name='TransactionID' value="<%=@transaction_id%>"/>
    <input type='Hidden' name='Style' value='STL:18'/>
    <input type="submit" value="Submit">
</form>
</div>
 <script>
    $( document ).ready(function() {
        $('form').submit();
    });
   </script>

   </div>
   </section>