 <div id="cart_page">
    <%= render "cart_page" %>
 </div>

 <script type="text/javascript">
  // AddToCart
  // Track when items are added to a shopping cart (ex. click/landing page on Add to Cart button)
  fbq('track', 'AddToCart');
 </script>

