<!-- modal starts -->
<div class="modal fade" id="forgot" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Forgot Password?</h4>
      </div>
      <div class="modal-body">

      <div class="row">
        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :id => "forget",:method => :post, :role => 'form'}) do |f| %>
        <%= devise_error_messages! %>
          <div class="col-md-12">
            
            <p>We'll send password reset instructions. Please provide your email address.</p>
            
            <div class="clear20"></div>

          </div>

          <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-3 control-label">Email Address</label>
                <div class="col-sm-9">
                  <%= f.email_field :email, :autofocus => true, :class=>"form-control",:placeholder=>"E-mail", :required => true %>
                </div>
            </div>          
          </div>

          <div class="clear10"></div>

          <div class="col-md-12">
            <div class="col-md-6">
              <a href="#" class="forgot-pass-link" data-dismiss="modal" data-toggle="modal" data-target="#login">Login</a>
            </div>
            <div class="col-md-6 text-right">
              <%= f.submit 'Send', :class => 'btn btn-success' %>
            </div>
          </div>
        <%end%>
      </div>
        <div class="clear20"></div>

      </div>
    </div>
  </div>
</div>
<!-- modal ends -->