 <div class="modal fade in" id="login" tabindex="-1" role="dialog" style=" position: fixed;">
  <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             </div>
             <div class="modal-body">
               <div class="signin-half no-padding" style=" border: solid 1px #ddd;padding: 20px;">
                  <h3>SIGN IN</h3>
                  <div >
                     <div class="clear10"></div>
                     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {"data-parsley-validate" => true,:remote=>true}) do |f|%>
                     <p>With your Email and Password.</p>
                     <div class="clear20"></div>
                       <%= devise_error_messages! %>
                        <span style="font-size: 18px;">Email address* </span>
                        <%= f.email_field :email, autofocus: true, :class=>"input-checkout", :placeholder=>"Enter Email address", :required=>true, :autocomplete=> :off %>
                        <span style="font-size: 18px;">Password* </span>
                        <%= f.password_field :password, autocomplete: "off", :class=>"input-checkout", :placeholder=>"Enter Password", :required=>true, :autocomplete=> :off %>
                        <div style="     margin-bottom: 28px;"></div>
                        <button  style="background: #000;
                           color: #fff;
                           border: none;" class="btn btn-default btn-lg" type="submit">Sign in</button>
                        <a href="#" class="forgot-pass-link pull-right" data-dismiss="modal" data-toggle="modal" data-target="#forgot">Forgot Password?</a>

                     <% end %>
                  </div>
               </div>

             </div>
         </div>
     </div>
 </div>

