// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'parsley';

.parsley-required, .parsley-type, .parsley-equalto{
  color: #EC0606;
  clear: both;
  width: 100%;
  margin-top: 28px;
  padding: 5px;
  font-size: 14px !important; 
  margin: 0px;
  margin-left: -2px;
  font-weight:bold;
}


#add_subscriber .parsley-errors-list .parsley-required, .parsley-type {
  margin-top: 15px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}