<div id="MainMenu">
   <div class="list-group panel">
   
      <a href="#casual" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Men</a>
      <div class="collapse" id="casual">
         <!-- caucal -->
         <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">Casual <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="SubMenu1">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Sandals</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slippers</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Moccs</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Boat Shoes</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Driving Moccs</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Sporty</a>
         </div>
         <!-- Office -->
         <a href="#office" class="list-group-item" data-toggle="collapse" data-parent="#office">Office <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="office">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Lace ups</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slip ons</a>
         </div>
         <!-- Office -->
         <a href="#party" class="list-group-item" data-toggle="collapse" data-parent="#party">Party <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="party">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Lace ups</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slip ons</a>
         </div>
         <!-- Office -->
         <a href="#wedding" class="list-group-item" data-toggle="collapse" data-parent="#wedding">Wedding <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="wedding">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Lace ups</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slip ons</a>
         </div>
      </div>
      <!-- Women -->
      <a href="#Women" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Women</a>
      <div class="collapse" id="Women">
         <!-- caucal -->
         <a href="#women-Casual" class="list-group-item" data-toggle="collapse" data-parent="#women-Casual">Casual <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="women-Casual">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slippers</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Chappls</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Sandals</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Ballerina</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Sneakers</a>
         </div>
         <!-- Party -->
         <a href="#women-party" class="list-group-item" data-toggle="collapse" data-parent="#women-party">Party<i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="women-party">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Flat</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Wedge</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1"> Heels</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1"> Slings</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1"> Pumps</a>
         </div>
         <!-- Wedding -->
         <a href="#women-wedding" class="list-group-item" data-toggle="collapse" data-parent="#women-wedding">Wedding <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="women-wedding">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Flats</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Wedge</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Heel</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Slings</a>
         </div>
         <!-- Office -->
         <a href="#women-office" class="list-group-item" data-toggle="collapse" data-parent="#women-office">Office <i class="fa fa-caret-down"></i></a>
         <div class="collapse list-group-submenu" id="women-office">
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Flats</a>
            <a href="#" class="list-group-item" data-parent="#SubMenu1">Court Shoes</a>
         </div>
      </div>
      <!--  Accessories -->
      <a href="#accessories" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Accessories</a>
      <div class="collapse" id="accessories">
         <a href="" class="list-group-item">Scarfs</a>
         <a href="" class="list-group-item">Shawls</a>
         <a href="" class="list-group-item">Jewelry</a>
      </div>
      <!--  bags -->
      <a href="#bags" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Bags</a>
      <div class="collapse" id="bags">
         <a href="" class="list-group-item">Top Handle</a>
         <a href="" class="list-group-item">Shoulder Bag</a>
         <a href="" class="list-group-item">Cross Body</a>
         <a href="" class="list-group-item">Evening</a>
         <a href="" class="list-group-item">Day Clutch</a>
         <a href="" class="list-group-item">Evening Clutch</a>
         <a href="" class="list-group-item">Wedding Clutch</a>
         <a href="" class="list-group-item">Mini Bags</a>
         <a href="" class="list-group-item">Nano Bags</a>
         <a href="" class="list-group-item">Just For Fun</a>
      </div>
      <!--  brands -->
      <a href="#brands" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Brands</a>
      <div class="collapse" id="brands">
         <a href="" class="list-group-item">Digger</a>
         <a href="" class="list-group-item">Skywalk</a>
         <a href="" class="list-group-item">Gig</a>
         <a href="" class="list-group-item">Matilla</a>
      </div>
      <hr style=" margin-top: 4px;margin-bottom: 4px;">
      <!--  size -->
      <a href="#size" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Size</a>
      <div class="collapse" id="size">
         <a href="" class="list-group-item">8</a>
         <a href="" class="list-group-item">7</a>
         <a href="" class="list-group-item">6</a>
         <a href="" class="list-group-item">5</a>
      </div>
      <!--  size -->
      <a href="#color" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Color</a>
      <div class="collapse" id="color">
         <a href="" class="list-group-item"> Forozi </a>
         <a href="" class="list-group-item">  Black</a>
         <a href="" class="list-group-item">  White  </a>
         <a href="" class="list-group-item">Black</a>
      </div>
      <!--  price -->
      <a href="#price" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Price</a>
      <div class="collapse" id="price">
         <button class="btn pricebutton"> Update</button>
      </div>
   </div>
</div>