<section class="content grid-products border-top" id="just"
   style="background:#f5f5f6 url(/assets/pro-bg.png) no-repeat; ; background-size: 100% auto;">
   <div class="container">
      <div class="col-md-12">
         <div class="releated-products">
            <div class="row grid" id="products">
               <div class="col-md-6">
                  <center>
                     <h3 >STYLES YOU MAY LIKE:</h3>
                  </center>
                  <br><br>
                  <div class="col-md-4">
                     <article class="product-item pro-inner">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="" >
                                 <img src="/assets/products/crop.png" class="img-responsive" alt="">
                                 <div class="product-body" style=" margin-top: 23px;">
                                    <h3>TAMARA</h3>
                                    <span class="price">
                                    <del><span class="amount">$36.00</span></del>
                                    <ins><span class="amount">$30.00</span></ins>
                                    </span>                                          
                                 </div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </div>
                  <div class="col-md-4">
                     <article class="product-item pro-inner">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="" >
                                 <img src="/assets/products/crop2.png" class="img-responsive" alt="">
                                 <div class="product-body"  style=" margin-top: 23px;">
                                    <h3>TAMARA</h3>
                                    <span class="price">
                                       <!--  <del><span class="amount">$36.00</span></del> -->
                                       <ins><span class="amount">Rs 30.00</span></ins>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </div>
                  <div class="col-md-4">
                     <article class="product-item pro-inner">
                        <div class="row">
                           <div class="col-sm-3">
                              <div class="" >
                                 <img src="/assets/products/crop.png" class="img-responsive" alt="">
                                 <div class="product-body"  style=" margin-top: 23px;">
                                    <h3>TAMARA</h3>
                                    <span class="price">
                                       <!-- <del><span class="amount">$36.00</span></del> -->
                                       <ins><span class="amount">Rs 30.00</span></ins>
                                    </span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </div>
               </div>
               <div class="col-md-6">
                  <center>
                     <h3>ACCESSORIES YOU MAY LIKE:</h3>
                     <br><br>
                     <div class="col-md-4">
                        <article class="product-item pro-inner">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="" >
                                    <img src="/assets/products/bag.png" class="img-responsive" alt="">
                                    <div class="product-body"  style=" margin-top: 23px;">
                                       <h3>TAMARA</h3>
                                       <span class="price">
                                          <!-- <del><span class="amount">$36.00</span></del> -->
                                          <ins><span class="amount">Rs 30.00</span></ins>
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-md-4">
                        <article class="product-item pro-inner">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="">
                                    <img src="/assets/products/bag1.png" class="img-responsive" alt="">
                                    <div class="product-body" style=" margin-top: 23px;">
                                       <h3>TAMARA</h3>
                                       <span class="price">
                                          <!--  <del><span class="amount">$36.00</span></del> -->
                                          <ins><span class="amount">Rs 30.00</span></ins>
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                     <div class="col-md-4">
                        <article class="product-item pro-inner">
                           <div class="row">
                              <div class="col-sm-3">
                                 <div class="" >
                                    <img src="/assets/products/bag2.png" class="img-responsive" alt="">
                                    <div class="product-body" style=" margin-top: 23px;">
                                       <h3>TAMARA</h3>
                                       <span class="price">
                                          <!--  <del><span class="amount">$36.00</span></del> -->
                                          <ins><span class="amount">Rs 30.00</span></ins>
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </article>
                     </div>
                  </center>
               </div>
               <div class="container">
                  <div class="col-md-12">
                     <br>
                     <div class="col-md-6">
                        <div class="panel-group" id="accordion">
                           <div style="    border-bottom: solid 1px #ccc;">
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Product Details
                                    </a>
                                 </h4>
                              </div>
                              <div id="collapseOne" class="panel-collapse collapse ">
                                 <div class="panel-body">
                                    <ul>
                                       <li> Børn Signature Crown Series </li>
                                       <li> Vegetable or metallic leather </li>
                                       <li> Vegetable leather lining </li>
                                       <li> Polyurethane and rubber outsole </li>
                                       <li> Cork-wrapped wedge </li>
                                       <li> Opanka hand-sewn construction </li>
                                       <li> Heel Height: 1 ½ inches </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.panel-group -->
                     </div>
                     <div class="col-md-6">
                        <div class="panel-group" id="accordion">
                           <div style="    border-bottom: solid 1px #ccc;">
                           </div>
                           <div class="panel panel-default">
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#fb">
                                    Facebook Comments 
                                    </a>
                                 </h4>
                              </div>
                              <div id="fb" class="panel-collapse collapse ">
                                 <div class="panel-body">
                                    <img src="/assets/fb.jpg" class="img-responsive" alt="">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- /.panel-group -->
                     </div>
                  </div>
               </div>
               <div style="clear:both;"></div>
            </div>
         </div>
      </div>
   </div>
</section>