<!-- ==========================
   PRODUCTS - START 
   =========================== -->
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <div id="product_display" class="row">
          <%= render "product_display" %>
         </div>
      </article>
   </div>
</section>
<!-- ==========================
   PRODUCTS - END 
   =========================== -->

<%= render "styles_and_accessories" %>