<!-- ==========================
   PRODUCTS - START 
   =========================== -->
<section class="content products">
   <div class="container">
      <article class="product-item product-single" style="     padding: 20px;">
         <br>
         <center>
            <h3 class="text-uppercase"><%= get_category_sequence(@product) %></h3>
         </center>
         <br>
         <div id="product_display" class="row">
          <%= render "product_display" %>
         </div>
      </article>
   </div>
</section>
<!-- ==========================
   PRODUCTS - END 
   =========================== -->

<%= render "styles_and_accessories" %>

<script type="text/javascript">
   // ViewContent
   // Track key page views (ex: product page, landing page or article)
   fbq('track', 'ViewContent');
</script>