- @page_title = t('shoppe.brands.brands')
= content_for :header do
  %p.buttons= link_to t('shoppe.brands.back_to_brands_list'), :brands, class: 'button'
  %h2.users= t('shoppe.brands.brands')
= render 'form'
